@import "tailwindcss";

:root {
  --background: #121212;
  --foreground: #ffffff;
}

@theme inline {
  --color-primary: #f0e74d;
  --color-primary-darker: #676103;
  --color-theme-black: #121212;
  --color-theme-light-black: #222123;
  --color-theme-lighter-black: #2a2a2a;
  --color-theme-gray: #323232;
  --color-theme-light-gray: #3b3b3b;
  --color-theme-white: #ffffff;
  --color-twitch-purple: #864cf6;
}

@layer utilities {
  .clip-button {
    clip-path: polygon(0 3%, 100% 0%, 95% 100%, 3% 92%);
  }
  .clip-title {
    clip-path: polygon(0 0, 100% 0, 91% 74%, 0 100%);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-saira), var(--font-saira-condensed), sans-serif;
}

.font-saira-condensed {
  font-family: var(--font-saira-condensed), sans-serif;
}

.favorites-bullet {
  @apply w-full duration-300 bg-gray-400 opacity-50 cursor-pointer;
}

.favorites-bullet-active {
  @apply bg-primary opacity-100 rounded-full;
}

.hero-bullet {
  @apply h-2.5 w-2.5  rounded-full  bg-theme-light-black opacity-80 cursor-pointer;
}

.hero-bullet-active {
  @apply bg-primary opacity-100 rounded-full h-2.5  w-2.5;
}

.blog-bullet {
  @apply h-2 w-2  rounded-full  bg-theme-light-black opacity-80 cursor-pointer;
}

.blog-bullet-active {
  @apply bg-black opacity-100 rounded-full h-2.5  w-2.5;
}
