@import "tailwindcss";

:root {
  --background: #121212;
  --foreground: #ffffff;
}

@theme inline {
  --color-primary: #f0e74d;
  --color-primary-darker: #676103;
  --color-theme-black: #121212;
  --color-theme-light-black: #222123;
  --color-theme-lighter-black: #2a2a2a;
  --color-theme-gray: #323232;
  --color-theme-light-gray: #3b3b3b;
  --color-theme-white: #ffffff;
  --color-twitch-purple: #864cf6;
}
@layer utilities {
  .clip-button {
    clip-path: polygon(0 3%, 100% 0%, 95% 100%, 3% 92%);
  }
  .clip-title {
    clip-path: polygon(0 0, 100% 0, 91% 74%, 0 100%);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-saira), var(--font-saira-condensed), sans-serif;
}

.font-saira-condensed {
  font-family: var(--font-saira-condensed), sans-serif;
}
